@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
}

* {
  font-family: "Special Elite";
}

.home {
  background-color: white;
}

body {
  background-color: #002233;
}

.wave {
  position: relative;
  font-size: 0;
  background-color: #002233;
}

.secondary-heading {
  position: absolute;
  font-size: 3rem;
  color: white;
  text-align: center;
  width: 100%;
  bottom: 4rem;

}

.main-heading {
  color: #002233;
  font-size: 5rem;
  padding-top: 4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.levels {
  box-sizing: border-box;
  display: flex;
  height: 30rem;
  width: 100%;
  gap: 2rem;
  padding: 0 2rem 2rem 2rem;
  background-color: #002233;
}

.level-card, .level-img {
  height: 100%;
  width: 100%;
}

.level-card {
  border: 3px solid white;
  color: white;
}

.level-card:hover {
  border: 3px solid #22c55e;
  cursor: pointer;
  color: #22c55e;
} 

.level-img {
  object-fit: cover;
  object-position: 50% 50%;
}

.level-name {
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0 4rem 0;
}

.nav-bar {
  background-color: #002233;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-name {
  font-size: 3rem;
  padding: 1rem;
  color: white;
}

.characters {
  display: flex;
}

.character {
  background-color: #002233;
  color: white;
  text-align: center;
  padding: 1rem;
} 

.character:hover {
  color: #22c55e;
  cursor: pointer;
}

.character-img {
  width: 6rem;
  height: 7rem;
  object-fit: contain;
}

.character-name {
  font-size: 1.2rem;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.menu {
  background-color: #002233;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 5px;
  font-size: 1.3rem;
  border: 1px solid black;
}

.menu-item {
  padding: 1.2rem;
}

.menu-item:hover {
  background-color: #0b384f;
  cursor: pointer;
}

.main-container {
  position: relative;
  overflow: hidden;
}

.main-image {
  cursor: url("../images/crosshair.png"), auto;
}

.found {
  color: #22c55e;
}